In [2]:
#Import dependencies
import pandas as pd
import numpy as np
from __future__ import division

In [3]:
#Create Data

#Create an empty data frame
data = pd.DataFrame()

# Create our output labels
data['Gender'] = ['male','male','male','male','female','female','female','female']

data['Height'] = [6,5.92,5.58,5.92,5,5.5,5.42,5.75]
data['Weight'] = [180,190,170,165,100,150,130,150]
data['Foot_Size'] = [12,11,12,10,6,8,7,9]

In [4]:
#View our data
data

   Gender  Height  Weight  Foot_Size
0    male    6.00     180         12
1    male    5.92     190         11
2    male    5.58     170         12
3    male    5.92     165         10
4  female    5.00     100          6
5  female    5.50     150          8
6  female    5.42     130          7
7  female    5.75     150          9

In [5]:
#Create an empty data frame
person = pd.DataFrame()

# Create some feature values for this single row
person['Height'] = [6]
person['Weight'] = [130]
person['Foot_Size'] = [8]

In [6]:
#View our prediction data
person

   Height  Weight  Foot_Size
0       6     130          8

In [7]:
#Count number of males
n_males = data['Gender'][data['Gender'] == 'male'].count()

#Count number of females
n_females = data['Gender'][data['Gender'] == 'female'].count()

#Total people
total_ppl = data['Gender'].count()
print(n_males)
total_ppl

4

8

In [8]:
# Number of males divided by the total rows
P_male = (n_males/total_ppl)

# Number of females divided by the total rows
P_female = n_females/total_ppl

In [92]:
# Group the data by gender and calculate the means of each feature
data_means = data.groupby('Gender').mean()

# View the values
data_means

        Height  Weight  Foot_Size
Gender
female  5.4175  132.50       7.50
male    5.8550  176.25      11.25

In [93]:
# Group the data by gender and calculate the variance of each feature
data_var = data.groupby('Gender').var()

# View the values
data_var

          Height      Weight  Foot_Size
Gender
female  0.097225  558.333333   1.666667
male    0.035033  122.916667   0.916667

In [94]:
# Means for males
male_height_mean = data_means['Height'][data_var.index == 'male'].values[0]
male_weight_mean = data_means['Weight'][data_var.index == 'male'].values[0]
male_footsize_mean = data_means['Foot_Size'][data_var.index == 'male'].values[0]

# Variance for males
male_height_var = data_var['Height'][data_var.index == 'male'].values[0]
male_weight_var = data_var['Weight'][data_var.index == 'male'].values[0]
male_footsize_var = data_var['Foot_Size'][data_var.index == 'male'].values[0]

# Means for females
female_height_mean = data_means['Height'][data_var.index == 'female'].values[0]
female_weight_mean = data_means['Weight'][data_var.index == 'female'].values[0]
female_footsize_mean = data_means['Foot_Size'][data_var.index == 'female'].values[0]

# Variance for female
female_height_var = data_var['Height'][data_var.index == 'female'].values[0]
female_weight_var = data_var['Weight'][data_var.index == 'female'].values[0]
female_footsize_var = data_var['Foot_Size'][data_var.index == 'female'].values[0]

In [95]:
# Create a function that calculates p(x | y):
def p_x_given_y(x,mean_y,var_y):
    p = 1/(np.sqrt(2*np.pi*var_y)) * np.exp((-(x-mean_y)**2)/(2*var_y))
    p = 1/(np.sqrt(2*np.pi*var_y)) * np.exp((-(x-mean_y)**2)/(2*var_y))
    
    return p

In [100]:
# Numerator of the posterior if the unclassified observation is a male
P_male * \
p_x_given_y(person['Height'][0], male_height_mean, male_height_var) * \
p_x_given_y(person['Weight'][0], male_weight_mean, male_weight_var) * \
p_x_given_y(person['Foot_Size'][0], male_footsize_mean, male_footsize_var)

6.1970718438780782e-09

In [101]:
# Numerator of the posterior if the unclassified observation is a female
P_female * \
p_x_given_y(person['Height'][0], female_height_mean, female_height_var) * \
p_x_given_y(person['Weight'][0], female_weight_mean, female_weight_var) * \
p_x_given_y(person['Foot_Size'][0], female_footsize_mean, female_footsize_var)

0.00053779091836300176

In [ ]:
# Because the numerator of the posterior for female is greater than male, then we predict that the person is female.